<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First Name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last Name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Gender:

    <select th:field="*{gender}">

        <option th:each="tempGender : ${gender}" th:value="${tempGender}" th:text="${tempGender}"/>

    </select>

    <br><br>

    Country:

    <select th:field="*{country}">

      <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>

    </select>

    <br><br>

    Favourite Programming Language:

    <input type="radio" th:field="*{favouriteLanguage}" th:each="tempLang : ${languages}" th:value="${tempLang}" th:text="${tempLang}"/>

    <br><br>

    Favourite Operating Systems:

    <input type="checkbox" th:field="*{favouriteSystems}" th:each="tempSystem : ${systems}" th:value="${tempSystem}" th:text="${tempSystem}">

    <br><br>

    <input type="submit" value="submit"/>

</form>
</body>
</html>